{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="card mt-5">
        <div class="row m-0">
            <div class="col-lg-3 bg-light">
                <p class="text-center pt-4">
                    <img width=250 src="{{ idol.thumbnail}}" alt="{{ idol.name }}'s YouTube Thumbnail">
                </p>
                <h2 class="card-title text-center">{{ idol.name }}</h2>
                <h6 class="card-subtitle mb-2 text-muted">Hololive Generation Information</h6>
            </div>
            <div class="col-lg-8 m-3">
                <h3 class="text-center">Streams/Covers By {{ idol.name }}</h2>
                <ul class="list-group">
                    {% for stream in idol.stream_set.all %}
                    <li class="list-group-item">
                        <a href="{% url 'archive:stream_detail' stream.slug %}" >
                            <img width=200 src="{{ stream.thumbnail }}" class="float-left pr-2">
                            {{ stream.name }}
                        </a>
                    </li>
                   {% endfor %}
                </ul>
                <h3 class="text-center ">Guest Starring in these Streams (TODO)</h2>
                <ul class="list-group">
                    {% for stream in idol.guest_singers.all %}
                    <li class="list-group-item">
                        <a href="{% url 'archive:stream_detail' stream.slug %}" >
                            <img width=200 src="{{ stream.thumbnail }}" class="float-left pr-2">
                            {{ stream.name }}
                        </a>
                    </li>
                   {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <a href="{% url 'archive:idol_update' idol.id %}">Update Idol</a>
    {% endif %}
</div>
{% endblock %}