{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="card mt-5">
        <div class="row m-0">
            <div class="col-lg-3 bg-light text-center">
                <p class="pt-4">
                    <img width=250 src="{{ idol.thumbnail}}" alt="{{ idol.name }}'s YouTube Thumbnail">
                </p>
                <h2 class="card-title text-center">{{ idol.name }}</h2>
                {% if idol.group %}
                    <h5 class="card-subtitle mb-2 text-muted">{{ idol.group }}</h5>
                {% endif%}
                {% if idol.twitter %}
                    <a href="{{ idol.twitter }}"><h6 class="card-subtitle mb-2 text-muted">Twitter</h6></a>
                {% endif%}
            </div>
            <div class="col-lg-8 m-3">
                <h3 class="text-center">Streams/Covers By {{ idol.name }}</h2>
                <ul class="list-group">
                    {% for stream in idol.stream_set.all %}
                        {% if stream.active %}
                            <li class="list-group-item">
                                <a href="{{ stream.get_absolute_url }}" >
                                    <img width=200 src="{{ stream.thumbnail }}" class="float-left pr-2">
                                    {{ stream.name }}
                                </a>
                            </li>
                        {% endif %}
                   {% endfor %}
                </ul>
                <h3 class="text-center ">Guest Starring in these Streams (TODO)</h2>
                <ul class="list-group">
                    {% for stream in idol.guest_singers.all %}
                    <li class="list-group-item">
                        <a href="{{ stream.get_absolute_url }}" >
                            <img width=200 src="{{ stream.thumbnail }}" class="float-left pr-2">
                            {{ stream.name }}
                        </a>
                    </li>
                   {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <a href="{% url 'archive:idol_update' idol.slug %}">Update Idol</a>
    {% endif %}
</div>
{% endblock %}