{% extends 'base.html' %}
{% block body %}

<div class="container mt-5">

    <input class="form-control" id="myInput" type="text" placeholder="Search for a talent...">

    <ul class="list-group pt-3" id="singerList">
        <li class="list-group-item active"><h3 class="text-center">Talents at Hololive</h3></li>
    {% for singer in singer_list %}
        <li class="list-group-item"><a href="{{ singer.get_absolute_url }}"><img width=100 src="{{ singer.thumbnail }}" class="pr-2">{{ singer.name }}</a></li>
    {% empty %}
        <li>No streams recorded yet.</li>
    {% endfor %}
    
    {% if page_obj.has_previous or page_obj.has_next %}
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
    
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    {% endif %}
</div>

{% endblock %}