{% extends 'base.html' %}
{% block body %}
<h1>Hololive Singing Archive</h1>
<div class="fluid-container">
    <p>Song Title - {{ song.name }}</p>
    {% if song.romanji_name %}
    <p>Romanji Title - {{ song.romanji_name }}</p>
    {% endif %}
    <p>Artist - {{ song.original_artist }}</p>
    
    <h3>Streams that this song appears in:</h3>
    {% for stream in streams_with_song %}
        <li><a href="{{ stream.get_absolute_url }}">{{ stream.singer }} - {{ stream.name }}</a></li>
    {% endfor %}
</div>
 
{% endblock %}