{% extends 'base.html' %}
{% block body %}
<div class="container">

    <ul class="list-group pt-5 pb-3">
    <li class="list-group-item active"><h3 class="text-center">List of songs in alphabetical order.</h3></li>
    {% for song in song_list %}
        <li class="list-group-item"><a href="{{ stream.get_absolute_url }}">{{ song.artist }} - {{ song.name }}</a></a></li>
    {% empty %}
        <li>No Songs recorded yet.</li>
    {% endfor %}
    </ul>
    <div class="text-center">
        {% if page_obj.has_previous or page_obj.has_next %}
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
    
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    {% endif %}
    </div>

        
</div>

{% endblock %}