{% extends 'base.html' %}
{% block body %}
<div class="container pt-5">
    <div class="card pl-3 pr-3 pb-3">
        <div class="row pb-3">
            <div class="col-lg-4">
                <div class="pt-3" id="idol-about">
                    <h2><a href="{{ stream.link }}">{{ stream.name }}</a></h1>
                    <h3><a href="{{ stream.singer.get_absolute_url }}">{{ stream.singer.name }}</a></h3>
                    <h4>Upload Date: {{ stream.date_posted }}</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="video-container">
                    <p><iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/{{ stream.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                </div>
            </div>
        </div>
                    
        {% if not stream.original_song and stream.songs|length > 0 %}
        <ul class="list-group mt-0 mb-3">
            <li class="list-group-item active">
                <a class="text-light" href="javascript:void(0);" title="Hover a song to see its translated information if available."><h3>Song List:</h3></a>
            </li>
            {% for track in stream.streamtrack_set.all %}
            <li class="list-group-item">
                <p>{{ track.position }}. <a href="{% url 'archive:song_detail' track.song.id %}" title="{{ track.song.translated_name }} - {{ track.song.romanji_original_artist }}">{{ track.song.name }} - {{ track.song.original_artist }}</a> <span class="badge badge-primary badge-pill">{{ track.convert_seconds_to_timestamp }}</span></p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        
        {% if request.user.is_authenticated %}
        <h4>For Admins...</h4>
        <a href="{% url 'archive:stream_update' stream.slug %}">Update Stream Information</a>
        {% endif %}
    </div>
</div>

{% endblock %}